{% extends "::empresas.html.twig"%}
{% block title %}Promociones{% endblock %}
{% block titulo %} Registro de Empresas{%  endblock %}
{% block cuerpo %}

    <div class ="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="tab">Registro</a></li>
            <li role="presentation"><a href="#modificacion" aria-controls="modificacion" role="tab" data-toggle="tab">Modificacion</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ingreso">
                {{ form_start(form) }}
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                <form>
                    <div class="form-group">
                        {{ form_row(form.nomEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.usuEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.pasEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.rucEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.tlfEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.webEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.logEmp) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.slgEmp) }}
                    </div>
                </form>
                {{ form_end(form) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="modificacion">...</div>
        </div>
    </div>

{% endblock %}