{% extends "::promociones.html.twig"%}
{% block title %}Promociones{% endblock %}
{% block titulo %} Registro de Promociones{%  endblock %}
{% block cuerpo %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="flash-success alert alert-success"  role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message | upper }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message | upper }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="flash-info alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message | upper }}
        </div>
    {% endfor %}

    <div class ="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#ingreso" aria-controls="ingreso" role="tab" data-toggle="tab">Ingreso</a></li>
        </ul>

        <style>
            #div1 {background-color: #f4f4f4; margin: 2px; width: 1000px; height: 40px;}
        </style>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="ingreso "id = >
                {{ form_start(form,{'attr':{'no validate':'no validate'}}) }}
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    <div class="form-group" id="div1">
                        {{ form_row(form.titProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.detProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.tipProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.numProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.preProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.fechInProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.fechFinProm) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.catPromFk) }}
                    </div>

                    <div class="form-group" id="div1">
                        {{ form_row(form.registrar) }}
                    </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="modificacion">...</div>
        </div>
    </div>

{% endblock %}