{% extends "::user.html.twig" %}
{% block m2%}active {% endblock %}
{% block titulo %}MiiPerfil{% endblock %}
{% block cuerpo %}
<div class="row">
	<h2>Nombre de Usuario</h2>
    <div class ="row">
     <div id="mensaje">
         {#<p>{{ menssaje }}</p>#}
     	 <a id="editar" class="btn bg-info" >Editar</a>
     </div>   
     
     {{ form_start(form) }}
     {% form_theme form 'bootstrap_3_layout.html.twig' %}
         {% if form.path.vars.value =='uploads/' %}
         	<img src="vacio" width="200" height="200" class="img-responsive">
         {% else %}
         	<img src="{{ asset(form.path.vars.value) }}" width="200" height="200" class="img-responsive">
         {% endif %}
     {{ form_widget(form)}}
     {{ form_widget(form.foto) }}
     {{ form_end(form) }}
     
{% endblock %}
{% block javascripts %}
      <script>
      $(document).ready(function(){
			$(document).on('click','#editar',function(e){
					e.preventDefault();
					$('#form_nombre').removeAttr('disabled');
			});

          });
      </script>
    
{% endblock %}