{% extends "::user.html.twig" %}
{% block titulo %}Crear una Cuenta{% endblock %}
{% block cuerpo %}

 <div id="mensaje">
     {#<p>{{ menssaje }}</p>#}
 </div>
      
<div class="row">
	<h2>Nombre de Usuario</h2>
	{% if form is defined %}
		{{ form_start(form) }}
		{% form_theme form 'bootstrap_3_layout.html.twig' %}
     		{{ form_row(form.nombre) }}
     		{{ form_row(form.apellido) }}
     		{{ form_row(form.cedula) }}
     		{{ form_row(form.email) }}
     		{{ form_row(form.telefono) }}
     		{{ form_row(form.nick) }}
     		{{ form_row(form.plainPassword) }}
     		{{ form_row(form.Registrar) }}
     	{{ form_end(form) }}
     {% endif %}
     
     
     {#<div class="tab-content">
        <div role="tabpanel"  id="ingreso">
        	<form>
              <div class="form-group">
                <label >Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="ingrese un nombre">
                <label >Apellido</label>
                <input type="text" class="form-control" id="lastname" placeholder="ingrese un apellido">
                <label >Cedula</label>
                <input type="text" class="form-control" id="cedula" placeholder="ingrese su cedila de identidad">
                <label >E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="ingrese un correo elecrtonico">
                <label >Telefono</label>
                <input type="text" class="form-control" id="phone" placeholder="ingrese un telefono">
                <label >Nickname</label>
                <input type="text" class="form-control" id="nickname" placeholder="ingrese un nombre de usuario">
                <label >Contraseña</label>
                <input type="password" class="form-control" id="pass" placeholder="ingrese una contraseña">               
              </div>
              <button type="submit" class="btn btn-default">Registrar</button>
            </form>#}
</div>
        {#<div role="tabpanel" class="tab-pane" id="modificacion">...</div>#}

{% endblock %}