<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INICIO SESION</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/dashboard.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('iconos/css/font-awesome.min.css')}}">
</head>
<body>
    <div class="container">

        <div class="page-header">
            <h1>Inicio de Sesion</h1>
            <h2>Usuario</h2>
        </div>
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post" novalidate="novalidate">
            <div class="form-group">
                <label for="username">Usuario:</label>
                {% if value is defined%}
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                {% elseif value is not defined %}
                    <input class="form-control" type="text" id="username" name="_username" />
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password" />
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <a href="{{ path('user_register') }}">Registrarme</a>
        </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
</body>
</html>

{% block body %}
   {
{% endblock %}