{% extends 'base.html.twig' %}

{% block body %}
    <center>
    <h1 class="jumbotron" style="background-color: blue; opacity: 0.5; color: #fff">Editar  Empresa</h1>
    <div style="width: 40%;">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <input style="width: 300px" class="btn btn-primary" type="submit" value="Guardar" />
    {{ form_end(edit_form) }}
    </div>
    <br>
    
            <a style="width: 300px" class="btn btn-success" href="{{ path('empresa_index') }}">Regresar a la lista</a>
 
        <br>
            <br>
            {{ form_start(delete_form) }}
                <input style="width: 300px" class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}<br><br>
    </center>
{% endblock %}
