{% extends "::admin.html.twig" %}
{# {% block stylesheets %}<link href="{{ asset('css/menubar.css')}}" rel="stylesheet">{% endblock %} #}
{% block m2%}active {% endblock %}
{% block title %}Categorias{% endblock %}
{% block titulo %} Administracion de Categorias{%  endblock %}
{% block cuerpo %}
<div id="mensaje">
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="flash-success alert alert-success"  role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message | upper }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message | upper }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="flash-info alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message | upper }}
        </div>
    {% endfor %}

</div>
<div class ="row">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#FormNuevo"><span class="glyphicon glyphicon-edit" aria-hidden="true">   Nueva</span></button>
    <div class="modal fade" id="FormNuevo" tabindex="-1" role="dialog" aria-labelledby="FormNuevo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><a href="{{ path('catgegoria_index') }}">&times;</a></span></button>
                    <h4 class="modal-title" id="FormNuevo">Nueva Categoría</h4>
                </div>
                {% if form is defined %}
                    {{ form_start(form) }}
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    <div class="modal-body">
                        {{ form_row(form.desCat) }}
                    </div>
                    <div class="modal-footer">
                        {{ form_row(form.Guardar) }}
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="FormEdit" tabindex="-1" role="dialog" aria-labelledby="FormEdit" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" href="{{ path('catgegoria_index') }}"><span aria-hidden="true">&times;</span></a>
                        <h4 class="modal-title" id="FormNuevo">Detalle Categoría</h4>
                    </div>
                    {% if form2 is defined %}
                        {{ form_start(form2) }}
                        {% form_theme form2 'bootstrap_3_layout.html.twig' %}
                        <div class="modal-body">
                            {{ form_row(form2.id) }}
                            {{ form_row(form2.desCat) }}
                        </div>
                        <div class="modal-footer">
                            {{ form_row(form2.Modificar,{ 'attr': {'class': 'btn btn-primary'} }) }}
                        </div>
                        {{ form_end(form2) }}
                    {% endif %}
            </div>
        </div>
    </div>

    {% if form3 is defined %}
        {{ form_start(form3) }}
        {% form_theme form3 'bootstrap_3_layout.html.twig' %}
    <div class="modal fade" id="FormDelet" tabindex="-1" role="dialog" aria-labelledby="FormDelet" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            {% if form3.estado.vars.value  == '1' %}
            <div class="modal-content alert alert-danger">
            {% else %}
                <div class="modal-content alert alert-success">
             {% endif %}
                <div class="modal-header">
                    <a class="close" href="{{ path('catgegoria_index') }}"><span aria-hidden="true">&times;</span></a>
                    {% if form3.estado.vars.value  == '1' %}
                    <h4 class="modal-title" id="FormNuevo"> Desactivar Categoria</h4>
                    {% else %}
                    <h4 class="modal-title" id="FormNuevo"> Activar Categoria</h4>
                    {% endif %}
                </div>
                    <div class="modal-body">
                        <div class="media">
                            <div class="media-left">
                                <span id="dibujo" class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                            </div>
                            <div class="media-body">
                                <p id="ms">
                                {% if form3.estado.vars.value  == '1' %}
                                ¿Está seguro que desea desactivar la categoria: {{ form3.desCat.vars.value }}?
                                {% else %}
                                ¿Está seguro que desea activar la categoria: {{ form3.desCat.vars.value }}?
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-11"><a href="{{ path('catgegoria_index') }}" class="btn btn-primary">No</a></div>
                        {% if form3.estado.vars.value  == '1' %}
                        <div class="col-md-1">{{ form_row(form3.Si,{ 'attr': {'class': 'btn btn-danger'} }) }}</div>
                        {% else %}
                        <div class="col-md-1">{{ form_row(form3.Si,{ 'attr': {'class': 'btn btn-success'} }) }}</div>
                        {% endif %}
                    </div>
                    {{ form_end(form3) }}

            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="row">
	<h2>Lista de Categorias</h2>
    <div class="table-responsive">
        <table id="#CategoriasTable" class="table table-striped">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Cantidad de Promociones</th>
            </tr>
            {%  for categoria in categorias %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ categoria.desCat }}</td>
                    <td>{% if categoria.estado == 1 %}Activo{% else %}Inactivo{% endif %}</td>
                    <td>{% if categoria.promociones is empty %}no hay promociones {% else %} si hya promociones {% endif %}</td>
                    <td>{% if categoria.estado == 1 %}
                            <a class="btn bg-info" href="{{ path('Categoria_edit',{'id':categoria.id}) }}">Modificar</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if categoria.estado == 1 %}
                            <a class="btn btn-danger deleteCat"  href="{{ path('Categoria_delete',{'id':categoria.id}) }}" value="{{ categoria.id }}" >Deshabilitar</a>
                        {% else %}
                            <a class="btn btn-success" href="{{ path('Categoria_delete',{'id':categoria.id}) }}" value="{{ categoria.id }}" >&nbsp&nbsp&nbspHabilitar&nbsp&nbsp&nbsp</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {#<script src="{{ asset('js/catForm.js')}}"></script>#}
    {# <script src="{{ asset('js/menusidebar.min.js')}}"></script> #}
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#CategoriasTable').dataTable();
        } );
    </script>
    {% if form2 is defined %}
    <script>
        $('#FormEdit').modal('show')
    </script>
    {% endif %}
    {% if form3 is defined %}
        <script>
            $('#FormDelet').modal('show')
        </script>
    {% endif %}
{% endblock %}