{% extends "::admin.html.twig" %}
{% block m5%}active {% endblock %}
{% block titulo %}Mi Perfil{% endblock %}
{% block cuerpo %}
  <div id="mensaje">
      {% for flash_message in app.session.flashBag.get('success') %}
        <div class="flash-success alert alert-success"  role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            {{ flash_message | upper }}
        </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('error') %}
        <div class="flash-error alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            {{ flash_message | upper }}
        </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('info') %}
        <div class="flash-info alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            {{ flash_message | upper }}
        </div>
      {% endfor %}
  </div>
    {{ form_start(Form,{'attr': {'novalidate': 'novalidate'}}) }}
    {% form_theme Form 'bootstrap_3_layout.html.twig' %}
  <div class="col-xs-12 col-sm-12  col-md-6 placeholder">
    {% if Form.path.vars.value == 'AdminPerfil/' %}
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="300px" height="300px" class="img-responsive" alt="Sin foto"><br><br><br>
    {% else %}
      <img src="{{  asset(Form.path.vars.value) }}" width="200" height="200" class="img-responsive" alt="Sin foto"><br><br><br>
    {% endif %}
      {{ form_widget(Form.photoAdm) }}
      {{ form_errors(Form.photoAdm) }}
  </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="form-group col-xs-12 col-md-6">
        <label for="exampleInputPassword1">Nombre</label>
          {{ form_widget(Form.nomAdm) }}
          {{ form_errors(Form.nomAdm) }}
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Apellido</label>
           {{ form_widget(Form.apeAdm) }}
            {{ form_errors(Form.apeAdm) }}
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="exampleInputPassword1">email</label>
          {{ form_widget(Form.emAdm) }}
          {{ form_errors(Form.emAdm) }}
      </div>
      <div class="form-group col-md-12">
        <label for="exampleInputPassword1">Nombre de usuario</label>
          {{ form_widget(Form.useAdm) }}
          {{ form_errors(Form.useAdm) }}
      </div>
    </div>
    <div class="row col-md-5 col-xs-4 col-sm-4 col-md-offset-5 col-sm-offset-4 col-xs-offset-3 ">
        {{ form_widget(Form.Guardar) }}
    </div>
    {{ form_end(Form) }}

  <form id="formV" action="{{ path('SaAdmPass') }}" novalidate="novalidate" enctype="multipart/form-data">
    <div class="form-group col-md-12">
      <label for="exampleInputPassword1">Cambio de contraseña</label>
      <div class="input-group">
        <input id="formV_PasswordTemp" name="formV[PasswordTemp]" type="password" class="form-control" placeholder="Ingrese su contraseña actual">
        <span class="input-group-btn">
            <button id="btnVet"  class="btn btn-default" type="submit">Verificar</button>
          </span>
      </div>
    </div>
  </form>
{{ form_start(FormV) }}
    {{ form(FormV) }}
    {{ form_end(FormV) }}
    <div id="modal">
    </div>
{% endblock %}
{%block javascripts %}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script src="{{ asset('js/verificarPass.js') }}"></script>
{% endblock %}