
{% extends "::base.html.twig" %}
{% block stylesheets %}{% endblock %}
{% block menuser %}
    {% if app.user.getPathFoto  =='uploads/' %}
		<l1><a><i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i></a></l1>
    {% else %}
		<l1 class="placeholder"><a><img src="{{ asset(app.user.getPathPhotoAdm) }}" width="50px" height="50px"  ></a></l1>
	{% endif %}
	<li><a>{{ app.user.useAdm }}</a></li>
{% endblock %}
{% block title %}Administrador{% endblock %}
{% block usert %}Administrador{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm-3 col-md-2 sidebar" id="menulist">
				<ul class="nav nav-sidebar">
					<li class="{% block m1%} {% endblock %}"><a href="{{ path('indexSAdmin') }}"><i class="fa fa-home fa-3x fa-fw" aria-hidden="true"></i>&nbsp;Inicio</a></li>
					<li class="{% block m2%} {% endblock %}"><a href="{{ path('catgegoria_index') }}" ><i class="fa fa-th fa-3x fa-fw" aria-hidden="true"></i>     Administracion de Categorias</a></li>
					<li class="{% block m3%} {% endblock %}"><a href="{{ path('administradores_index') }}" ><i class="fa fa-user-secret fa-3x fa-fw" aria-hidden="true"></i>     Adminsitracion de Ejecutivos</a></li>
					<li class="{% block m4%} {% endblock %}"><a href="{{ path('Users_index') }}" ><i class="fa fa-users fa-3x fa-fw" aria-hidden="true"></i>     Adminsitracion de usuarios</a></li>
					<li class="{% block m5%} {% endblock %}"><a href="{{ path('miPerfilSa') }}"><i class="fa fa-user fa-3x fa-fw" aria-hidden="true"></i>     Mi Perfil</a></li>
					<hr>
					<li>
						<a href="{{ path('sa_logout') }}">
								<i class="fa fa-sign-out fa-4x fa-fw" aria-hidden="true"></i>
								Salir
						</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" >{% block titulo %} Caracteristicas del Sistema{% endblock %}</h1>
                <div class="contenido">
                    {% block cuerpo %}{% endblock %}
				</div>

				<!--- <h2 class="sub-header">Section title</h2>-->

			</div>
		</div>
	</div>



{% endblock %}