{% extends "::admin.html.twig" %}
{% block titulo %}Administracion de usuarios{% endblock %}
{% block cuerpo %}
<div id="mensaje">
 	<p>{{ menssaje }}</p>
</div>
<div class="row">

	<h2>Lista de Administradores</h2>
    <table class="table table-striped">
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Nombre de Usuario</th>
        <th>Privilegios</th>
        <th>Estado</th>
      </tr>
      {% for adm in Admin %}
      <tr>      
        <td>{{ adm.id }}</td>
        <td>{{ adm.nomAdm }}</td>
        <td>{{ adm.apeAdm }}</td>
        <td>{{ adm.emAdm }}</td>
        <td>{{ adm.useAdm }}</td>
        <td>{% if adm.tipAdm == 1 %} Adminstador {% else %} SuperAdminstador{% endif %}</td>
        <td>{% if adm.estAdm == 1 %} Activo {% else %} Inactivo {% endif %}</td>
        <td><a href="{{ path('pw_mc_main_admingetXid',{'id':adm.id}) }}">Selecionar</a></td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}